body {
    background: #e1e1e1;
    height: 100%;
    min-height: 100%;
}

html {
    height: 100%;
    min-height: 100%;
}

strong{
    font-weight: 400;
}

a {
    color: #0068DA;
    text-decoration: none !important;
}

.btn-secondary {
    color: #5E666E;
    background-color:#fff;
    border-color:#E0E5EB;
}

    .btn-secondary:hover {
        background-color: #0d6efd;
    }

.alert-info {
    color: #171a1d;
    background-color: #E5F2FF;
    border: none;
}

.bar {
    fill: #77A9E3;
}

.alert{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem
}

.text-white {
    --bs-text-opacity: 1;
    color: #171a1d !important;
}

.report-header{
    margin-top:20px;
}

.report-date{
    font-size:20px;
}

.notif {
    border-radius: var(--border-radius-sm, 2px);
    border-left: 4px solid var(--color-semantic-info, #0F82FF);
    background: var(--color-semantic-info-light, #E5F2FF);
}

.warn {
    display: inline-block;
    border-radius: var(--border-radius-sm, 2px);
    border-left: 4px solid var(--color-semantic-info, #FFC700);
    background: var(--color-semantic-info-light, #FFF9E5);
    padding: 1em;
}

.tooltip .border-flag {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 2px 4px;
}

.fw-bold {
    font-weight: 400 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-top:0;
    margin-bottom: 1.25rem;
    font-weight: 400;
    line-height:1.2;
}

.sub-section {
    font-size: 24px;
    display: flex;
}

.risk-sub-section{
    margin-top:40px;
}

.submit-btn {
    margin-bottom: 10px;
    color: #0068DA !important;
    border-color: #0068DA !important;
}

    .submit-btn:hover {
        margin-bottom: 10px;
        color: #fff !important;
        border-color: #fff !important;
        background-color: #0068DA !important;
    }

.sectionheader {
    color: #000000 !important;
    text-decoration: underline !important;
    font-weight: 500
}



@media (min-width: 1200px) {
    .h1, h1{
        font-size: 2.5rem
    }
}

@media screen {
    body {
        padding-top: 50px;
        margin-top: 10px;
    }

    h1, h2, h3, h4 {
        color: #171a1d;
    }

    a {
        color: #006BDA;
        text-decoration: underline;
    }

        a:hover {
            color: #58595b;
        }


}

@media print {
    .card {
        border: none;
    }

    .card-header {
        border: none;
    }

    .navbar {
        display: none;
    }

    .container {
        max-width: initial;
    }

    .bootstrap-table .fixed-table-toolbar {
        display: none;
    }

    .sectionheader {
        color: rgb(250, 156, 26);
        text-decoration: none;
    }

    table {
        table-layout: fixed;
        width: 100%;
        height: 100%;
    }
}

#wrapper {
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
}

    #wrapper.well {
        background: #fff;
        border-radius: 0;
    }

.ticked {
    color: #4CAF50;
}

.unticked {
    color: #FF1744;
}

.navbar-custom {
    background-color: #ffffff;
    display: flex;
    padding-left: var(--spacing-500, 40px);
    align-items: center;
    gap: 30px;
}


    .navbar-custom .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-custom .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
    }

    /* change the brand and text color */
    .navbar-custom .navbar-brand, .navbar-custom .navbar-text {
        color: #fa9c1a;
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: #171a1d;
    }

    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {        
        border-bottom:4px solid #D22730
    }

.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6;
    color: #58595b;
}

    .nav-tabs .nav-link:hover {
        border-color: #e9ecef #e9ecef #dee2e6;
        background-color: #0068DA14;
    }



.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: #171a1d;
        font-weight: 500;
    }

/* navbar */
.navbar-brand {
    margin: 0;
    padding: 0;
}

    .navbar-brand img {
        max-height: 100%;
    }

.dropdown-item.active, .dropdown-item:active {
    background-color: #0068DA;
}

.risk_model_none {
    background-color: #00AAFF;
    padding: 5px;
    border: 1px solid;
}

.risk_model_low {
    background-color: #ffd800;
    padding: 5px;
    border: 1px solid;
}

.risk_model_medium {
    background-color: #ff6a00;
    padding: 5px;
    border: 1px solid;
}

.risk_model_high {
    background-color: #f12828;
    padding: 5px;
    padding-bottom: 0px !important;
    border: 1px solid;
}

.risk_model_no_detections {
    background-color: #FFF;
    padding: 5px;
    border: 1px solid;
}

.risk_model_information {
    background-color: #0F82FF;
    padding: 5px;
}

.score_100 {
    background-color: #a856aa;
    padding: 5px;
}

.score_over75 {
    background-color: #f12828;
    padding: 5px;
}

.score_over50 {
    background-color: #ff6a00;
    padding: 5px;
}

.score_over25 {
    background-color: #ffd800;
    padding: 5px;
}

.score_below25 {
    background-color: #83e043;
    padding: 5px;
}

.modal-header{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header h4 {
    color: #171A1D;
}

/* no transition to be used in the carto mode */
.progress .progress-bar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.info-mark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    transition: color 0.3s, border-color 0.3s;
    position: relative;
    vertical-align: middle;
}

    .info-mark::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23ABB2BA'%3E%3Cpath d='M256 8C119.03 8 8 119.03 8 256s111.03 248 248 248 248-111.03 248-248S392.97 8 256 8zm0 96c17.67 0 32 14.33 32 32s-14.33 32-32 32-32-14.33-32-32 14.33-32 32-32zm48 320c0 8.84-7.16 16-16 16h-64c-8.84 0-16-7.16-16-16v-16c0-8.84 7.16-16 16-16h16v-96h-16c-8.84 0-16-7.16-16-16v-16c0-8.84 7.16-16 16-16h64c8.84 0 16 7.16 16 16v128h16c8.84 0 16 7.16 16 16v16z'/%3E%3C/svg%3E");
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .info-mark:hover::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%230068DA'%3E%3Cpath d='M256 8C119.03 8 8 119.03 8 256s111.03 248 248 248 248-111.03 248-248S392.97 8 256 8zm0 96c17.67 0 32 14.33 32 32s-14.33 32-32 32-32-14.33-32-32 14.33-32 32-32zm48 320c0 8.84-7.16 16-16 16h-64c-8.84 0-16-7.16-16-16v-16c0-8.84 7.16-16 16-16h16v-96h-16c-8.84 0-16-7.16-16-16v-16c0-8.84 7.16-16 16-16h64c8.84 0 16 7.16 16 16v128h16c8.84 0 16 7.16 16 16v16z'/%3E%3C/svg%3E");
        border-color: #0068DA;
    }

.tooltip-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    background: #FFFFFF;
    box-shadow: 0px 16px 16px rgba(0, 46, 102, 0.05), 0px 4px 8px rgba(0, 46, 102, 0.15);
    border-radius: 2px;
    color: #000;
    background-color:#fff;
}

.num {
    text-align: right !important;
}

@media screen {
    a[name] {
        padding-top: 80px;
        margin-top: -80px;
        display: inline-block; /* required for webkit browsers */
    }
}

.pagebreak {
    page-break-before: always;
}
/* page-break-after works, as well */


.btn-default {
    color: #58595B;
    background-color: transparent;
    background-image: none;
    border-color: #58595B;
}

    .btn-default:hover {
        color: #fff;
        background-color: #58595B;
        border-color: #58595B;
    }

    .btn-default:focus, .btn-outline-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(88, 89, 91, 0.5);
    }

    .btn-default.disabled, .btn-outline-primary:disabled {
        color: #58595B;
        background-color: transparent;
    }

    .btn-default:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
    .show > .btn-default.dropdown-toggle {
        color: #fff;
        background-color: #58595B;
        border-color: #58595B;
    }

        .btn-default:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled).active:focus,
        .show > .btn-default.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(88, 89, 91, 0.5);
        }

.tooltip-wide {
    max-width: 100%;
    min-width: 80%;
}

.grade-1 {
    color: #fff;
    background-color: red;
}

.grade-2 {
    background-color: orange;
    color: #000;
}

.grade-3 {
    background-color: khaki;
    color: #000;
}

.grade-4 {
    color: #fff;
    background-color: #007bff;
}

.grade-5 {
    color: #fff;
    background-color: #28a745;
}

path.type0 {
    fill: #ff0029;
}

path.type1 {
    fill: #377eb8;
}

path.type2 {
    fill: #66a61e;
}

path.type3 {
    fill: #984ea3;
}

path.type4 {
    fill: #00d2d5;
}

path.type5 {
    fill: #ff7f00;
}

path.type6 {
    fill: #af8d00;
}

path.type7 {
    fill: #7f80cd;
}

path.type8 {
    fill: #b3e900;
}

path.type9 {
    fill: #c42e60;
}

path.type10 {
    fill: #a65628;
}

path.type11 {
    fill: #f781bf;
}

path.type12 {
    fill: #8dd3c7;
}

path.type13 {
    fill: #bebada;
}

path.type14 {
    fill: #fb8072;
}

path.type15 {
    fill: #80b1d3;
}

path.type16 {
    fill: #fdb462;
}

path.type17 {
    fill: #fccde5;
}

path.type18 {
    fill: #bc80bd;
}

path.type19 {
    fill: #ffed6f;
}

path.empty {
    fill: #f8f9fa;
}

g.sectors {
    stroke: white;
    stroke-width: 1px;
}

.bg-pc-orange {
    background-color: #F6F7F9;
}

.border-pc-orange {
}

.bi-download::before {
    display: inline-block;
    content: "\00a0\00a0\00a0\00a0";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='arrow-down-to-line' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' class='svg-inline--fa fa-arrow-down-to-line fa-fw fa-lg'%3E%3Cpath fill='%235E666E' d='M32 480c-17.7 0-32-14.3-32-32s14.3-32 32-32l320 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 480zM214.6 342.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 242.7 160 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 178.7 73.4-73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-128 128z' class=''%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: center;
}

.btn.btn-secondary:hover .bi-download::before,
.btn.btn-secondary:active .bi-download::before,
.btn.btn-secondary:focus .bi-download::before {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='arrow-down-to-line' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' class='svg-inline--fa fa-arrow-down-to-line fa-fw fa-lg'%3E%3Cpath fill='white' d='M32 480c-17.7 0-32-14.3-32-32s14.3-32 32-32l320 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 480zM214.6 342.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 242.7 160 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 178.7 73.4-73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-128 128z' class=''%3E%3C/path%3E%3C/svg%3E");
    background-color: #0d6efd;
}

.btn.btn-secondary:active,
.btn.btn-secondary:focus {
    background-color: #0d6efd;
}

.page-item.active .page-link {
    color: #5E666E;
    background-color: #F6F7F9;
}

.page-link {
    border: none;
    color: #5E666E;
}

.brand-logo {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    transform: translate(0, 0);
    z-index: 1050; /* Higher z-index to appear above other elements */
}

.tooltip.show {
    opacity: 1;
}

.relevantproductsheader {
    display: inline-flex;
    gap: 0.5em;
}

.icon-container {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
}

.icon-container .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;
    transition: opacity 0s;
}
.icon-inline {
    position: relative;
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    transform: translateY(-0.1em);
}
.icon-left {
    text-indent: -24px;
    margin-right: -19px;
}
.icon-padded-text {
    padding-left: 32px;
}

.relevantproductsheader[aria-expanded="true"] .icon-up {
    opacity: 1;
}

.relevantproductsheader[aria-expanded="true"] .icon-down {
    opacity: 0;
}
.relevantproductsheader[aria-expanded="false"] .icon-up {
    opacity: 0;
}

.relevantproductsheader[aria-expanded="false"] .icon-down {
    opacity: 1;
}

.icon-down {
    transform: translateY(-0.1em);
}