.modal {
    top: 50px;
}

.legend_user {
    background: #80b2ff;
    border: #0047b2;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    padding: 2px;
}

.legend_fsp {
    background: #ffa366;
    border: #8f3900;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    padding: 2px;
}

.legend_computer {
    background: #d65c33;
    border: #661a00;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    padding: 2px;
}

.legend_group {
    background: #70db70;
    border: #196419;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    padding: 2px;
}

.legend_ou {
    background: #cccccc;
    border: #333333;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    padding: 2px;
}

.legend_gpo {
    background: #ad8533;
    border: #403100;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    padding: 2px;
}

.legend_unknown {
    background: #ffffff;
    border: #a352cc;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    padding: 2px;
}

.modal-full-screen {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

.modal-full-screen-dialog {
    height: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
    position: fixed;
    width: 100%;
}

.modal-full-screen-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-full-screen-body {
    bottom: 60px;
    font-weight: 300;
    overflow: auto;
    position: absolute;
    top: 50px;
    width: 100%;
}

.modal-full-screen-footer {
    bottom: 0;
    height: 60px;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}

.legend {
    left: 0px;
    position: absolute;
    top: 55px;
}

.network-area {
    border-width: 1px;
    height: 100%;
    min-height: 100%;
}