<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.44.1" targetFramework="net472" />
  <package id="Costura.Fody" version="5.7.0" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="6.8.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.Memory" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Graph.Beta" version="5.99.0-preview" targetFramework="net472" />
  <package id="Microsoft.Graph.Core" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.3.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.3.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="8.3.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="8.3.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="8.3.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.3.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Validators" version="8.3.1" targetFramework="net472" />
  <package id="Microsoft.Kiota.Abstractions" version="1.16.4" targetFramework="net472" />
  <package id="Microsoft.Kiota.Authentication.Azure" version="1.16.4" targetFramework="net472" />
  <package id="Microsoft.Kiota.Http.HttpClientLibrary" version="1.16.4" targetFramework="net472" />
  <package id="Microsoft.Kiota.Serialization.Form" version="1.16.4" targetFramework="net472" />
  <package id="Microsoft.Kiota.Serialization.Json" version="1.16.4" targetFramework="net472" />
  <package id="Microsoft.Kiota.Serialization.Multipart" version="1.16.4" targetFramework="net472" />
  <package id="Microsoft.Kiota.Serialization.Text" version="1.16.4" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net452" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net452" />
  <package id="Std.UriTemplate" version="2.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ClientModel" version="1.1.0" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.3.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net452" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Memory.Data" version="6.0.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="6.0.0" targetFramework="net472" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net452" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net452" />
</packages>